body{
  background-color: #87B7E8;
}
.navig{
  margin-top: 10px;
}
.btn-download{
  margin-top: 6px;
  float: right;
}
.row-border{
    margin-top: 5px;
  border:solid 1px #000;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #000;
}

.row-border .lead{
  margin-bottom: 0px;
  padding: 8px 0;
}
.section-name{
color: white;
  background: linear-gradient(141deg, black 20%, #1fc8db 51%, #373296 80%);

}
.section-name h3{
  margin-top: 10px;
}
.section-personal-date{
  margin-top: 10px;
}
.section-personal-skills{
  margin-top: 10px;
}

.my-photo{
  background-image: url('aaa.jpg');
  position: absolute;
  bottom: -148px;
  width: 130px;
  height: 160px;
  border: solid 1px #000;

}
.my-photo:hover >img{
  content: url('aaa.jpg');
  background: url('aaa.jpg');
}
dt{
  text-align: left;

}
dd{
  text-align: left;
}
.dl-list{
margin-top: 20px;

}
