body{
  /*background-color: rgb(68, 68, 68);*/
  background-color: #272727;
  color: black;
  font-family: 'Open Sans', sans-serif;
  color: white;
}
.navig{
  margin-top: 10px;
  font-size: 17px;
}
.btn-download{
  margin-top: 6px;
  float: right;
}
.row-border{
    margin-top: 5px;
  border:solid 1px #000;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #000;
}

.row-border .lead{
  margin-bottom: 0px;
  padding: 8px 0;
}
.section-name{
color: white;
  background: linear-gradient(141deg, #200122 50%, #6f0000 80%);

}
.section-name h3{
  margin-top: 10px;
}
.section-personal-date{
  margin-top: 10px;
}
.section-personal-skills{
  margin-top: 10px;
}
@media screen and (min-width: 1000px) {
.my-photo{

  position: absolute;
  bottom: -175px;
  width: 160px;
  height: 197px;
  border: solid 1px #000;

}
}



.my-photo:hover >img{
  content: url('aaa.jpg');
  background: url('aaa.jpg');
}
dt{
  text-align: left;

}
dd{
  text-align: left;
}
.dl-list{
margin-top: 20px;

}
.col{
  background-color: grey !important;
}
a{
  color: white;
}
a:hover{
  color: black;
}

.red{
  color: red;
}
.grad {
    background: #E33B3B; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#2193F6, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#2193F6, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#2193F6, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#2193F6, black); /* Standard syntax */
    color: white;
}
.italic{
  font-style: italic;
}
.display{
  display: none;
}
.white{
  color: white;
}
.white:hover{
  color: white !important;
}
.author{
  font-weight: bold;
  font-size: 14px;


}
.langu{
  text-align: right;
}
.me{
  font-size: 20px;
}
.icon{
  font-size: 30px;
}
.progress-bar {
  background-color: red;
}
.italic{
  font-style: italic;
}
.footer{
  font-size: 14px;
}
